@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
.chart-container {
  height: 400px;
  width: 100%;
}

/* Custom style for the phone input container */
.phone-input-container {
  display: flex;
  width: 100%;
}

/* Custom style for phone input field */
.phone-input-field {
  height: 3rem !important;
  padding: 0.75rem 3rem !important;
  font-size: 1rem;
  border: 1px solid #d1d5db;
  background-color: #f9fafb !important;
  border-radius: 0.5rem;
  width: 100% !important;
}

/* Custom style for the phone input dropdown button */
.phone-input-button {
  padding: 0.8rem; /* Increase button padding for consistency */
  height: 3rem; /* Match button height with input */
  border-radius: 0.5rem 0 0 0.5rem;
}

@layer base {
  html {
    font-family: "Roboto", serif;
  }
}
